@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    body {
      margin: 0px;
      padding: 0px;
      background-color: black;
      font-family: "Inter", sans-serif;
      color: #ffffff;
      text-align: left;
    }

    .main {
      margin: 0% 22%;
    }

    h1 {
      font-size: 41px;
      margin-top: 125px;
      letter-spacing: 5px;
    }

    ::placeholder {
      color: #ffffff;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
      color: #ffffff;
      margin: 25px 0px 20px 0px;
      display: block;
      width: 800px;
      max-width: 100%;
      border: none;
      border-bottom: 1px solid white;
      background: none;
      font-size: 16px;
      padding: 0px 5px 10px;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus {
      outline: none;
      border-bottom: 1px solid #007bff;
      background-color: transparent;
    }

    .radio-group,
    .checkbox-group {
      margin-bottom: 10px;
    }

    .radio-group label,
    .checkbox-group label {
      margin-bottom: 10px;
      display: inline;
      font-size: 12px;
    }

    button {
      background-color: #ffffff;
      color: black;
      padding: 10px 50px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
    }

    button:hover {
      background-color: #0056b3;
      color: #ffffff;
    } 